<a href="https://colab.research.google.com/github/ergonrizky26/data-science-learn/blob/main/%5BSVDS%5D_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Fungsi dan Argumen
**FUNGSI** adalah kode yang digunakan untuk menjalan suatu aksi </br>
Aksi dari fungsi adalah **print()** <br>
<br>
**print()** digunakan untuk menampilkan argumen pada output <br>
Argumen yang diterima oleh fungsi **print()**, antara lain : Teks/string, Operasi aritmatik, Operasi dari fungsi lain

In [5]:
# Teks/string
print("Hello World")

Hello World

In [6]:
# Operasi aritmatik
print(26+10)

36

In [9]:
# Operasi dari fungsi lain -> identifikasi tipe data
print(type("Hello World"))

<class 'str'>

In [11]:
# Operasi dari fungsi lain -> Menghitung panjang karakter
print(len("Hello World"))

11

## Latihan Fungsi dan Argumen

In [12]:
print("Nama Anda")

Nama Anda

In [13]:
print("10 September 2024")

10 September 2024

In [14]:
print(100/10)

10.0

In [15]:
print(2*5)

10

In [16]:
print(type(100/10))

<class 'float'>

# 2. Variabel
**Variabel** adalah container yang dipakai untuk menyimpan data <br>
1. Variabel dipakai agar tidak perlu mengulang menuliskan data setiap akan menjalankan suatu fungsi terhadap data tersebut
2. Variabel dibuat dengan menuliskan nama variabel diikuti dengan '='

In [22]:
# Contoh penggunaan variabel
tabungan = 100
print(type(tabungan))

<class 'int'>

In [23]:
nama = "Budi Agung"
print(type(nama))

<class 'str'>

# 3. Tipe Data
Beberapa tipe data yang dikenal oleh Python :
1. Integer : Bilangan bulat
2. Float : Bilangan pecahan
3. String : Teks
4. Boolean : true/false

In [1]:
# Tipe data integer
a = 56
print(type(a))

<class 'int'>

In [2]:
# Tipe data float
b = 56.49
print(type(b))

<class 'float'>

In [3]:
# Tipe data string
c = "lima puluh enam"
print(type(c))

<class 'str'>

In [4]:
# Tipe data boolean
d = 56 + 1 == 57
e = 56 + 1 != 57

print(d)
print(e)
print(type(d))
print(type(e))

True
False
<class 'bool'>
<class 'bool'>

## Latihan 2 Variabel dan Tipe Data

1. Buat 4 variabel dengan 4 tipe data berbeda : int, string, float, boolean

In [5]:
# Tipe data int
int_a = 26

# Tipe data string
str_b = "Dua puluh enam"

# Tipe data float
float_c = 26.10

# Tipe data boolean
bool_d = 26 + 2 == 28
bool_e = 26 + 2 != 28

2. Identifikasi tipe-tipe data pada 4 variabel yang telah dibuat menggunakan fungsi print() dan type()

In [8]:
print(type(int_a))
print(type(str_b))
print(type(float_c))
print(bool_d)
print(bool_e)
print(type(bool_d))
print(type(bool_e))

<class 'int'>
<class 'str'>
<class 'float'>
True
False
<class 'bool'>
<class 'bool'>

# 4. List
LIST adalah kumpulan data yang terstruktur dengan urutan tertentu.
1. List dibuat dengan menuliskan **"["** dan **"]"** pada data data yang dipisahkan dengan **","**
2. Dalam list, tiap data memiliki index dengan urutan dari 0, 1, 2, dst

In [9]:
a = 100
b = "Budi Agung"
c = [True, 35.46, a, b]

print(c)
print(type(c))

[True, 35.46, 100, 'Budi Agung']
<class 'list'>

- Indeks diperlukan untuk **subsetting**: mengidentifikasi/memanggil data dengan urutan tertentu dari list

In [11]:
print(c[0])
print(c[1])
print(c[3])
print(c[-1]) # Indeks -1 menunjukkan data dengan urutan terakhir

True
35.46
Budi Agung
Budi Agung

# 5. Melakukan Slicing pada List
SLICING adalah proses memotong list dengan range indeks tertentu
1. Range indeks ditulis dengan **["indeks awal" : "indeks akhir"]**
2. Indeks awal akan diikutsertakan pada output
3. Indeks akhir tidak diikutsertakan pada output

In [1]:
slicing_c = [True, 35.46, 100, 'Budi Agung']
print(type(slicing_c))

<class 'list'>

In [3]:
print(slicing_c[0:3]) # Data dgn indeks 0 diikutsertakan, data dengan indeks 3 tidak diikutsertakan

[True, 35.46, 100]

In [4]:
print(slicing_c[:3]) # Apabila slicing dilakukan dari awal list, indeks awal tidak perlu dituliskan

[True, 35.46, 100]

In [5]:
print(slicing_c[1:]) # Apabila slicing dilakukan sampai akhir list, indeks akhir tidak perlu dituliskan

[35.46, 100, 'Budi Agung']

## Latihan 3 List

1. Buat 4 variabel :    
nama = 'Nama_anda" <br>
jarak_km = 5 <br>
jarak_mil = 5 * 0.62 <br>
jarak_beda = jarak_km == jarak_mil

In [6]:
nama = "Budi Agung"
jarak_km = 5
jarak_mil = 5 * 0.62
jarak_beda = jarak_km == jarak_mil

2. Identifikasi tipe-tipe data pada 4 variabel yang telah dibuat menggunakan fungsi print() dan type()

In [7]:
print(type(nama))
print(type(jarak_km))
print(type(jarak_mil))
print(type(jarak_beda))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

3. Slice 2 data terakhir dari list yang dibuat

In [8]:
list_a = [nama, jarak_km, jarak_mil, jarak_beda]
print(type(list_a))

<class 'list'>

In [9]:
print(list_a[-2:])

[3.1, False]

4. SLice 2 data pertama dari lsit yang dibuat

In [11]:
print(list_a[:2])

['Budi Agung', 5]